name: flutter_boilerplate
description: A new Flutter project.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.0.3 <4.0.0"

dependencies:
  cached_network_image: ^3.4.1
  dio: ^5.8.0+1
  easy_localization: ^3.0.7+1
  envied: ^1.1.1
  flutter:
    sdk: flutter
  flutter_image_compress: ^2.4.0
  flutter_launcher_icons: ^0.14.3
  freezed: ^2.5.7
  freezed_annotation: ^2.4.4
  get: ^4.7.2
  get_storage:
  google_fonts: ^6.2.1
  image: ^4.0.17
  json_annotation: ^4.9.0
  logger: ^1.4.0
  package_info_plus: ^8.3.0
  permission_handler: ^12.0.0+1
  photo_manager: ^3.7.1
  photo_manager_image_provider: ^2.2.0
  pretty_dio_logger: ^1.4.0
  share_plus: ^11.0.0
  stacked: ^3.4.0
  stacked_services: ^1.1.0
  url_launcher: ^6.3.1

dev_dependencies:
  build_runner: ^2.4.5
  envied_generator: ^1.1.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  mockito: ^5.4.1
  stacked_generator: ^1.3.3
  golden_toolkit: ^0.15.0
  flutter_gen_runner:
  json_serializable: ^6.9.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/images/
    - assets/fonts/
    - assets/lottie/
    - assets/svgs/
    - assets/translations/

targets:
  $default:
    builders:
      envied_generator:
        options:
          path: ".env.dev" # Default for regular builds

flutter_gen:
  output: lib/gen/asset/
  integrations:
    lottie: true
    flutter_svg: true
